.benefits {
	background-color: #f0efef;
	color: #033048;
	font-size: 26px;
	font-weight: 300px;
}

body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

.CTA {
	background-color: #f9e42e;
}

.CTA a {
	background-color: #033048;
	border-radius: 5px;
	color: #f9e42e;
	display: inline-block;
	font-weight: 800px;
	font-size: 24px;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
}

.footer {
	background-color: #121212;
	text-align: center;
}

.footer h1 {
	color: #f9e42e;
}

.footer p {
	font-size: 18px;
	font-weight: 600px;
}

h1 {
	font-size: 48px;
	font-weight: 800;
}

h2 {
	font-size: 40px;
	font-weight: 600px;
}

.header {
	background-image: url('images/header_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
}

.header a {
	background-color: #f9e42e;
	border-radius: 5px;
	color: #033048;
	display: inline-block;
	font-weight: 800px;
	font-size: 28px;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
}

.header p {
	font-size: 48px;
	font-weight: 600px;
	text-align: center;
}

.testimonial {
	background-image: url('images/testimonial_bg.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 36px;
	text-align: center;
}

.testimonial blockquote {
	font-style: italic;
	font-weight: 300px;
}

.testimonial p {
	font-weight: 600px;
}