body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

.benefits {
	background-color: #f0efef;
	color: #033048;
	font-size: 26px;
	font-weight: 300px;
	line-height: 1.5em;
	padding-left: 140px;
}

.benefits h2 {
	font-size: 40px;
	font-weight: 600px;
	padding: 100px 0px 34px;
}

.benefits p {
	margin: 0px 40px 0px 40px;
	max-width: 600px;
}

.benefits ul{
	padding: 50px 0px 80px 70px;
	margin: 0px 40px 0px 40px;
	max-width: 600px;
	list-style: disc outside none;
}

.CTA {
	background-color: #f9e42e;
	padding: 24px;
	text-align: center;
}

.CTA a {
	background-color: #033048;
	border-radius: 5px;
	color: #f9e42e;
	display: inline-block;
	font-weight: 800px;
	font-size: 24px;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
}

.footer {
	background-color: #121212;
	text-align: center;
}

.footer h1 {
	color: #f9e42e;
	font-size: 48px;
	font-weight: 800;
	padding: 36px 0px
}

.footer img {
	padding: 45px 25px 45px;
}

.footer p {
	font-size: 18px;
	font-weight: 600px;
	padding-bottom: 40px;
}

.header {
	background-image: url('images/header_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	text-align: center;
}

.header a {
	background-color: #f9e42e;
	border-radius: 5px;
	color: #033048;
	display: inline-block;
	font-weight: 800px;
	font-size: 28px;
	padding: 10px 40px;
	margin-top: 90px;
	text-align: center;
	text-decoration: none;
}

.header h1 {
	font-size: 48px;
	font-weight: 800;
	padding: 36px 0px 124px 140px;
	text-align: left;
}

.header p {
	font-size: 48px;
	font-weight: 600px;
	margin: 0px 40px 0px 40px;
	text-align: center;
}

.testimonial {
	background-image: url('images/testimonial_bg.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 36px;
	padding: 90px 140px 90px;
	text-align: center;
}

.testimonial blockquote {
	font-style: italic;
	font-weight: 300px;
	line-height: 1.25em;
	margin: 0px auto 20px auto;
	max-width: 580px;
}

.testimonial p {
	font-weight: 600px;
}