a {
	text-decoration: none;
}

article {
	padding: 0 0 10px;
}

article h1 {
	font-size: 18px;
	text-transform: uppercase;
}

article p {
	font-size: 14px;
	line-height: 1.5;
}

body {
	font-family: sans-serif;
	margin: auto;
	padding: 0 40px;
}

h1.title {
	font-size: 28px;
	padding: 10px 20px 10px;
	text-align: center;
	text-transform: uppercase;
}

nav {
	padding: 20px 0 0;
	text-transform: uppercase;
}