.header_img {
	background-image: url('https://placeimg.com/1000/1000/nature');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 700px;
	width: 100%;
}

.footer {
	border-top: dotted 2px #000;
	margin-top: 20px;
}

.forest img {
	max-width: 700px;
	width: 100%;
}

li {
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
}