ul {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		color: white;
		overflow: hidden;
		position: relative;
		width: 25%;
	}

		a {
			color: gray;
			font-size: 12px;
			font-weight: bold;
			text-decoration: none;
		}

		img {
			display: block;
			height: auto;
			width: 100%;
		}
}

.popup {
	background-color: black;
	bottom: -20px;
	height: 140px;
	padding: 12px;
	position: absolute;
	width: 100%;
	z-index: 9999;
}